### Operators In Python

#### Arithmetic Operators

##### Addition

In [1]:
a = 1
b = 2
print(a+b)

3

In [2]:
x = 1.5
y = 2.3
print(x+y)

3.8

###### strings concatination

In [3]:
a = "hello"
b = "gulshan"
print(a+b)

hellogulshan

In [4]:
a = "hello"
b = "rafay"
print(a+" "+b)

hello rafay

###### Adding Complex Numbers

In [5]:
x1 = 2+3j
y1 = 1+5j
print(x1+y1)

(3+8j)

In [6]:
w1 = -4
w2 = 3
print(w1+w2)

-1

##### Subtraction

In [7]:
num1 = 8
num2 = 4
print(num1 - num2)

4

In [8]:
a4 = 4.5
b4 = 2.34
print(a4 - b4)

2.16

In [10]:
a5 = "hello"
b5 = "students"
print(a5 - b5)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
a6 = 5 + 9j
b6  = 3 + 5j
print(a6 - b6)

(2+4j)

#### Multiplication

In [12]:
n = 3
m = 5
print(n * m)

15

In [14]:
n1 = 4.546462846
m1 = 6.14873468327
print(n1 * m1)

27.95499378739863

In [16]:
str = "hello"
print(str * 5)

hellohellohellohellohello

In [17]:
str1 = "hello"
str2 = "gulshan"
print(str1 * str2)

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
a1 = 2 + 4j
b1 = 3 + 6j
print(a1*b1)

(-18+24j)

#### Division

In [19]:
a = 15
b = 3
print(a/b)

5.0

In [21]:
a1 = 34724372473
b1 = 26353.737
print(a1/b1)

1317626.1291899513

In [22]:
com1 = 3 + 6j
com2 = 2 + 5j
print(com1/com2)

(1.2413793103448276-0.10344827586206891j)

In [25]:
str1 = "hello"
str2 = "gulshan"
print(str1/str2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

#### Modulus

###### Modulus gives us remainder

In [27]:
a = 13
b = 4
print(a%b)

1

In [29]:
a1 = 4567.43438979
b1 = 2.8
print(a1%b1)

0.6343897900001307

In [30]:
num1 = 4 + 7j
num2 = 3 + 9j
print(num1%num2)

TypeError: unsupported operand type(s) for %: 'complex' and 'complex'

#### Floor Division

###### floor division returns quotient

In [28]:
a = 13
b = 4
print(a//b)

3

#### Exponent

###### power operator

In [33]:
print(6**2) #print square of 6

36

### Problem

###### calculate BMI

In [35]:
height = 5
weight = 60
bmi = weight/height**2
print(bmi)

2.4

### Boolean Operator

In [37]:
a = True
print(type(a))

<class 'bool'>

In [38]:
b = False
print(type(b))

<class 'bool'>

### Comparison Operator

###### In Python comparison operators are used to compare values. These operators return True or False on whether the comparison is true or false

In [42]:
# equal to operator
x = 5
y = 5
print(x==y)

True

In [43]:
# equal to operator
x = 5
y = 6
print(x==y)

False

#### not equal !=

In [44]:
x = 5
y = 3
print(x!=y)

True

In [45]:
x = 5
y = 5
print(x!=y)

False

greater than >

In [46]:
x = 5
y = 3
print(x>y)

True

Smaller Than <

In [47]:
x = 45
y = 23
print(y < x)

True

greater than equal to

In [51]:
x = 5
y = 5
print(x>=y)

True

less than equal to

In [53]:
x = 5
y = 5
print(x<=y)

True

### Logical Operators

In [58]:
# AND Operator
x = True
y = False
print(x&y) # can also use print(x and y)

False

In [59]:
# OR Operator
x = True
y = False
print(x|y) # can also use print(x or y)

True

In [61]:
# NOT Operator
x = True
print(not x)

False

In [62]:
x = False
print(not x)

True

#### Practice Questions

##### Question 01

In [3]:
product_1 = 5*250
product_2 = 25*656
product_3 = 34*274
print("The pricw of product 1 =",product_1)
print("The pricw of product 2 =",product_2)
print("The pricw of product 3 =",product_3)
print("Total to pay : ",product_1+product_2+product_3)

The pricw of product 1 = 1250
The pricw of product 2 = 16400
The pricw of product 3 = 9316
Total to pay :  26966

##### Question 02 : SIMPLE INTEREST

In [8]:
# calculate simple interest
principle_amount = 1500000
time_period = 3
interest_rate = 8
simple_interest = principle_amount*time_period*interest_rate/100
print("the simple interest = ",simple_interest)
# compare
threshold = 120000
comp = simple_interest > threshold
print(comp)
print("the value is greater than 120000")

the simple interest =  360000.0
True
the value is greater than 120000

##### Question 03 : calculate circle area

In [11]:
import math
radius = 12
area = math.pi * radius**2
print(area)

452.3893421169302