### Lecture 05

#### Built In Functions Part 2

##### bin function : use to convert int to binary representation

In [3]:
binary_repr = bin(10)
print(binary_repr)

0b1010

In [5]:
# we can find binary of max to max number . lets check
bin_rep = bin(5735753257382)
print(bin_rep)

0b1010011011101110101100010010001000110100110

In [7]:
z = bin(43.453) # lets check for float
print(z)

TypeError: 'float' object cannot be interpreted as an integer

##### sum function

In [10]:
my_list = [2,4,6,2,9,4,55,3,7,22,4,8,3,6,0,2,4,565,34,24,454,54,98,132674] # jitne marzi num hon
a = sum(my_list)
print(a)

134044

In [13]:
# lets check for string
list = ["johny","gulshan","saadi","shahg","saikhu","shani","azeem","malik","faizan"]
b = sum(list) # calling sum function
print(b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
a = [1,2,3,4,5]
# i want +10 in starting
starting_value = 10
total = sum(a,starting_value)
print(total)

25

In [19]:
a = [1,2,3,4,5]
# i want -10 in starting
starting_value = -10
total = sum(a,starting_value)
print(total)

5

In [20]:
a = [1,2,3,4,5]
# lets try to add floating number in starting
starting_value = 10.56
total = sum(a,starting_value)
print(total)

25.560000000000002

##### eval function

In [22]:
# evaluates a python expression stored in a string
x = 10
y = 5
expression = "x+y*2"
print(eval(expression))

20

In [23]:
exp = "5/2 + 3.5"
print(exp) # just simply print exp string
print(eval(exp)) # evaluated string
print(type(eval(exp))) # check for eval(exp) dtatype

5/2 + 3.5
6.0
<class 'float'>

In [26]:
# expresion can be give in bytes or string only
expo = "0b1001 + 0b0100"
print(expo)
print(eval(expo))

0b1001 + 0b0100
13

##### help function

In [27]:
# want to know what print function do
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### input function : most important function

In [29]:
name = input("enter your name")
print("name etered by user is",name)

enter your name abdul rehman gulshan

name etered by user is abdul rehman gulshan

In [30]:
# input function always takes string type data
print(type(name))

<class 'str'>

In [32]:
# lets check datatype by putting number in input
x = input("enter your name")
print("entered input",x,sep = ":")
print(type(x)) # it will be str even if you enter number

enter your name 176873

entered input:176873
<class 'str'>

#### Practice Questions

##### Question 01 : get two numbers from user and calculate their sum

In [33]:
x = int(input("enter first number"))
y = int(input("enter second number"))
print(x+y)

enter first number 23
enter second number 34

57

##### Question 02

In [40]:
# inpu from user
age = abs(int(input("enter your age"))) # positive int input
weight = int(input("enter your weight"))
height = float(input("enter your height"))
# input correct age
print("correct age",age)
# calculate Besal Metabolic Rate
bmr = "88.362 + (13.397 * weight)+(4.799 * height)-(5.677 * age)"
print(int(eval(bmr)))

enter your age -45
enter your weight 85
enter your height 5.6

correct age 45
998

##### Question 03 : write a python code for hostel students , ask them to mention their name and age ,for 5 students and calculate their avg age.

In [5]:
# input donkey method
a,b = input("student:01 name , age").split(",")
c,d = input("student:02 name , age").split(",")
e,f = input("student:03 name , age").split(",")
g,h = input("student:04 name , age").split(",")
i,j = input("student:05 name , age").split(",")
# calculate avg age .. donkey method
avg_age = (int(b)+int(d)+int(f)+int(h)+int(j))/5
print(avg_age)

student:01 name , age gulshan,1
student:02 name , age a.tanveer,   2
student:03 name , age faizan,3
student:04 name , age saikhu,4
student:05 name , age johny,5

3.0