# Fundamentals Of Python

### First Program

In [3]:
print("hello world!")

hello world!

### Comments "#"

##### These are used to tell what our code is about

In [7]:
# this line of code is about introduction
print("hello i am abdul rehman gulshan")
# this is the number
print(23)
print(3 + 2)
print("3" + "2")

hello i am abdul rehman gulshan
23
5
32

## Creating A Variable

In [8]:
x = 5;
print(x)

5

In [9]:
a = 10 # integer type data
b = 2.2 # float type data
c = "gulshan" # string type data
print(a, b, c)

10 2.2 gulshan

In [10]:
y = "we are learning python"
print(y)

we are learning python

### Checking Total Variables In Our NoteBook

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    2.2
c          str      gulshan
x          int      5
y          str      we are learning python

### Rules For Python Variables

#### Rule 1 : A variable name must start with a letter or the underscore character

In [12]:
apple = 23
print(apple)

23

In [13]:
# using space in variable name
apple box = 12
print(apple box)

SyntaxError: invalid syntax (2605128452.py, line 2)

In [14]:
# using underscore instead of space
apple_box = 12
print(apple_box)

12

In [17]:
# just used underscore as variable name
_ = 22
print(_)

22

In [18]:
_z = "gulshan"
print(_z)

gulshan

In [19]:
nmp_ = 25
print(nmp_)

25

#### Rule 2 : A variable name cannot start with number

In [20]:
1 = 5
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (998666931.py, line 1)

In [23]:
1_apple = 213
print(1_apple)

SyntaxError: invalid decimal literal (3104225020.py, line 1)

#### Rule 3 : A variable can contain only (A-z, 0-9, and _ )

In [24]:
abc123nmp = 453
print(abc123nmp)

453

In [25]:
&dollar@ = 24
print(&dollar@)

SyntaxError: invalid syntax (2713628042.py, line 1)

#### Rule 4 : A variable name is case sensitive

In [26]:
age = 21
Age = 22
AGE = 23
aGe = 24
print(age)
print(Age)
print(AGE)
print(aGe)

21
22
23
24

#### Rule 5 :

## Data Types in python

In [38]:
a = 2
b = 1.5
c = "my name is gulshan"
# printing datatype of our variable
print(a)
print(type(a))
print(type(b))
# we can just use type(variable) too

type(c)

2
<class 'int'>
<class 'float'>

str

In [30]:
v = 2 + 3j
print(v)
print(type(v))

(2+3j)
<class 'complex'>

In [31]:
num = [23, 24, 25, 26]
print(num)
print(type(num))

[23, 24, 25, 26]
<class 'list'>

In [33]:
num1 = True
print(type(num1))

<class 'bool'>

In [36]:
num2 = False
print(type(num1))

<class 'bool'>

# Practice Problems

### Q.1: Concatenate Strings

In [42]:
first_name = "Abdul"
last_name = "Rehman"
full_name = first_name + " " + last_name
print(full_name)

Abdul Rehman

### Q.2: Reassign value

In [44]:
x = 5
print(x)
x = 10
print(x)

5
10