### 2 : For Loop

###### the for loop in python is indeed used to iterate over sequences such as lists,tuples,strings,dictionaries,and ranges.it allows you to execute a block of code for each ite in the sequence

In [1]:
# create a list
numbers = [1,2,3,4,5]
# for loop
for i in numbers:
    print(i)

1
2
3
4
5

In [2]:
# create a string
n = "students"
# for loop
for i in n:
    print(i)

s
t
u
d
e
n
t
s

In [3]:
# range (0 to 10 print)
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
# range (5 to 13)
for x in range(5,14):
    print(x)

5
6
7
8
9
10
11
12
13

#### For Loop and If condition

##### print even in range 0 to 15

In [7]:
for n in range(0,16):
    if n%2 == 0:
        print(n)

0
2
4
6
8
10
12
14

##### For Loop and if else

In [3]:
for x in range(2,11):
    if x%2 == 0:
        print("number is even",x,sep=":")
    else:
        print("number is odd",x,sep=":")

number is even:2
number is odd:3
number is even:4
number is odd:5
number is even:6
number is odd:7
number is even:8
number is odd:9
number is even:10

##### Problem : generate the multiplication table of a given number using a for loop

In [15]:
# input for tale
number = int(input("enter the number for table"))
#  for loop
for n in range(1,11):
    print(f"{number} * {n} = {number*n}")

enter the number for table 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

#### Practice Question : Assist shoppers in calculating their bikk

In [4]:
# input total number of items
num_items = int(input("enter total items"))

# for loop for price input and calculation
total_price = 0
for i in range(num_items):
    price = float(input(f"enter item {i+1} price"))
    total_price = total_price + price

# conditional statements
if total_price>=100:
    total_price = total_price*(1-0.10)
elif 50<total_price<99.9:
    total_price = total_price*(1-0.05)
else:
    total_price = total_price

# display output
print("total purchase price with discount is :",total_price,"$")

enter total items 5
enter item 1 price 100
enter item 2 price 200
enter item 3 price 300
enter item 4 price 400
enter item 5 price 500

total purchase price with discount is : 1350.0 $

#### break Statement

###### we can use the break statement with the for loop to terminate the loop when out=r certain condition met

In [10]:
for i in range(5):
    if i == 3:
        break # will end the loops iteration at 4th iteration
    print(i)

0
1
2

#### continue Statement

###### is used to skip the current iteration of the loop and the current flow of the program goes to the next iteration

In [9]:
for i in range(5):
    if i == 3:
        continue # will skip the fourth iteration
    print(i)

0
1
2
4